$theme-color : #e45807;
$theme-bright : #f7f4f9;
$theme-dark : #2b80b9;
$theme-dark2 : #001b55;
$body-color: #35383b;
$recent-pub-bg: #212225c2;
$text : rgba(253, 253, 253, 0.918);
$text-gray : rgba(255, 255, 255, 0.54);
$divider-color : #853009c2;
$background-gray : rgba(228, 228, 228, 0.05);

%page-padding {
    padding : 0px 15%!important;
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px 15px!important;
    }
}
%posts-padding {
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px!important;
    }
}
%page-nav-btn {
    right : 5%;
    @media (max-width: 991px) {
        right : 3%;
    }
}
